.historia-container {
    font-family: var(--textos-retro);
    font-size: 16px;
    color: var(--white-primary);
    margin-top: 20px;
}

#titulo-historia {
    color: var(--pink-primary);
}

.historia-container h3 {
    color: var(--green-primary)
}

section {
    margin: 10px 10px;
}

.inicio-foto-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}
.inicio-foto-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 20px;

    .tab {
        padding-left: 20px;
    }
}

.inicio-foto-container img {
    border-radius: 10px;
    width: 100px;
    height: auto;
}

@media (min-width:600px) {
    h3#titulo-historia{
        text-align: center;
        font-size: 1.5rem;
        
    }
    .historia-container{
        width:50%;
        min-width:700px;
        margin:auto;
    }
    .inicio-foto-container{
        display: flex;
        gap: 5px;
        width:90%;
        margin: auto;
    }
    .inicio-foto-container img {
        width: 150px;
        margin-right: 60px;
    }
    .inicio-foto-container p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        text-indent: 20px;
        font-size: 20px;
    
        .tab {
            padding-left: 20px;
        }
    }
    h3{
        font-size:1.5rem;
        margin-bottom: 10px;
    }
    section p{
        margin: 0px 20px;
        font-size: 20px;
        .tab {
            padding-left: 20px;
        }
    }
}
