.progTeckContainer h2{
color:var(--green-primary);
font-family: var(--titulos);
}
.progTeckContainer hr{
    border:none;
    background-color: black;
    height: 1px;
    width: 80%;
    margin: 20px auto;

}