.proyectos-container{
    margin-top: 20px;
}
@media (min-width:600px) {
    .proyectos-container{
        display: flex;
        flex-direction: column;
    }
    hr{
        margin-bottom: 20px;
        margin-top: 20PX;
    }
}