.proyectos-container {
    margin-top: 20px;
}

@media (min-width:600px) {
    .proyectos-container {
        width: 60%;
        margin: auto;
    }

    .proyectos-container hr {
        margin: 20px 20px
    }
}

