.lenguaje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: var(--textos-retro);
}

.lenguaje-container img {
    width: 50px;
}

.lenguaje-container {
    color: var(--blue-primary)
}

.lenguaje-container.select {
    width: 50px;
    filter: hue-rotate(490deg);
}

