.header-container {
    display: flex;
    flex-direction: column;
    font-family: var(--textos-retro);
    color:white;
    font-size: 20px;
}
.myName{
    display: flex;
}
 .myName > *{ 
    color: var(--green-primary);
    font-size: 20px;
}
p.cita{
    text-align: center;
    font-size: 20px;
    margin:20px 0px;
}
p.puesto{
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
    color: var(--green-primary);
    border-bottom: 1px solid black;

}

@media (min-width:600px){
    h2.name,h2.flash{
        font-size:1.5rem;
    }
    p.puesto{
        font-size: 18px;
}

.flash {
    animation: flash 500ms ease infinite alternate;
  }
  @keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0; }
  }