.estudioExp-header-container{
    margin: 20px 10px;
}
.estudioExp-header-container h2{
    font-family: var(--titulos);
    color: var(--green-primary);
    font-size: 18px;
    margin-bottom: 10px ;
}
.estudioExp-header-container p{
    font-family: var(--textos-retro);
    color:var(--white-primary);
    font-size: 16px; 
    margin-left: 10px;
     
}
.estudioExp-header-container img{
height: 35px;
}
.centroExp-container{
    display:flex;
    justify-content:space-between;
}
.centroExp-container a{
   cursor: pointer;
}