.footerAudiovisual-container{
    display:flex;
    flex-direction: column;

}
.audiovisual-iconos-container{
    display: flex;
    justify-content: center;
}
.footerAudiovisual-container p{
    font-family: var(--textos-retro);
    color:white;
    margin-left: 10px;
}