.proyecto-container h3 {
    color: var(--green-primary);
    font-size: 30px;
    font-family: var(--textos-retro);
    margin-bottom: 15px;
}

.proyecto-container p {
    color: var(--white-primary);
    font-family:var(--textos-retro);
    margin-bottom: 10px;
}
@media (min-width:600px) {
    .proyecto-container{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}