.proyecto-container h3 {
    color: var(--green-primary);
    font-size: 30px;
    font-family: quantico;
    margin-bottom: 15px;
}

.proyecto-container p {
    color: var(--white-primary);
    font-family: quantico;
    margin-bottom: 10px;
}

.proyecto-gitHubLinks {
    color: var(--blue-primary);

    a {
        color: var(--blue-primary);
    }
}

.proyecto-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.proyecto-header-container h3 {
    transition: transform 0.3s ease;
}

.proyecto-header-container img {
    width: 100px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.links-proyecto {
    margin-top: 20px;
    ;
}

.links-proyecto p {
    text-align: center;
    margin: 0;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.icons-container img {
    width: 60px;
    transition: transform 0.3s ease;
}

.icons-container img.youtube-icon {
    width: 80px;
}

.proyecto-header-container h3:hover,
.proyecto-gitHubLinks a:hover img,
.proyecto-header-container img:hover,
.proyecto-gitHubLinks a:hover img,
.youtubeLink:hover img {
    cursor: pointer;
    transform: scale(1.2);

}

.tecnologias-proyecto p {
    text-align: center;
}

.logos_programacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logos_programacion-container img {
    width: 40px;
}