.proyecto-header-container {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 20px;
}

.proyecto-header-container h3 {
    transition: transform 0.3s ease;
}

.proyecto-header-container img {
    width: 100px;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
@media (min-width:600px) {
    .proyecto-header-container{
        display:flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
    }
    .proyecto-header-container img {
        width:60%;
    }
}
