footer {
    font-family: var(--titulos);
    color: var(--blue-primary);
}

.ppalFooter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.enlaces-general-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.enlaces-general-container a:hover img,
.curriculum:hover {
    color: var(--pink-primary);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}