footer{
    font-family: prosto;
    color: var(--pink-primary);
}
.curriculum{
    position: absolute;
    bottom:0;
    right:0;
    margin:30px;
    font-size: 20px;
}
.curriculum:hover{
    color:var(--blue-primary)
}