.proyecto-header-container h3:hover,
.proyecto-gitHubLinks a:hover img,
.proyecto-header-container img:hover,
.proyecto-gitHubLinks a:hover img,
.youtubeLink:hover img {
    cursor: pointer;
    transform: scale(1.2);

}

@media (min-width:600px) {
    .links-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
}
}