.headerPages-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.title-project{
    color:var(--pink-primary);
    font-family: var(--titulos);
    margin-top: 40px;
}
.button-scape{
    color: var(--green-primary);
    border: 1px solid var(--green-primary);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 40px;
    width: fit-content;
}

@media (min-width:600px){
    .title-project{
        font-size: 30px;
    }
    .button-scape{
        font-size: 20px;
    }
}

/*ANIMACIONES*/

.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
