.audiovisual-header-container a h3 {
    color: var(--green-primary);
    font-size: 20px;
    font-family: var(--textos-retro);
    margin-bottom: 15px;
    transition: transform 0.2s;
    width: fit-content;
}

.audiovisual-header-container a h3:hover {
    transform: scale(1.1);
}
@media (min-width:600px){
    .audiovisual-header-container a h3{
        font-size: 1.5rem;
    }
}