.estudioExp-descripcion {
    display: block;
    font-family: var(--textos-retro);
    color:white;
    width: fit-content;
    margin-right: 20px;
}
.estudioExp-descripcion ul{
    margin-bottom:5px ;
}
